@model WebApplication2.Models.Sales_Management

@{
    ViewBag.Title = "Edit";
}

<h2>編集</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <!--
        <div class="form-group">
            @Html.LabelFor(model => model.商品名, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.商品名, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.商品名, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.販売価格, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.販売価格, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.販売価格, "", new { @class = "text-danger" })
            </div>
        </div>
        -->
        <div class="form-group">
            @Html.LabelFor(model => model.販売個数, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.販売個数, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.販売個数, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--
        <div class="form-group">
            @Html.LabelFor(model => model.合計金額, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.合計金額, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.合計金額, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.登録日時, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.登録日時, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.登録日時, "", new { @class = "text-danger" })
            </div>
        </div>
        -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("販売管理へ戻る", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
