@model IEnumerable<WebApplication2.Models.Sales_Management>

@{
    ViewBag.Title = "Index";
}

<h2>販売管理</h2>

<p>
    <!--@Html.ActionLink("項目追加", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.商品名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.販売価格)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.販売個数)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.合計金額)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.登録日時)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.商品名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.販売価格)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.販売個数)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.合計金額)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.登録日時)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.ID.Trim() }) |
            @Html.ActionLink("詳細", "Details", new { id=item.ID.Trim() }) 
        </td>
    </tr>
}

</table>
